<div class="container ">
	<div class="row">
		<div class="col-md-12" style="margin: auto;">
			<h1 class="starwarsText" >Categories</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card mb-4 box-shadow">
				<a routerLink="/categories/starships">
					<div class="card">
						<img class="category-image" src="assets/img/categories/starships.jpg">
						<div class="card-body starwarsbACKGROUD">
							<h4 class="card-text starwarsText">Starships</h4> 
							<p class="card-text starwarsText">Engines to go far far away...</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-4 box-shadow">
				<a routerLink="#">
					<div class="card">
						<img class="category-image" src="assets/img/categories/character.jpg">
						<div class="card-body starwarsbACKGROUD">
							<h4 class="card-text starwarsText">Characters</h4>
							<p class="card-text starwarsText">In a galaxy far far away... (not available)</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-4 box-shadow">
				<a routerLink="#">
					<div class="card">
						<img class="category-image" src="assets/img/categories/films.jpg">
						<div class="card-body starwarsbACKGROUD">
							<h4 class="card-text starwarsText">Films</h4>
							<p class="card-text starwarsText">(not available)</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-4 box-shadow">
				<a routerLink="#">
					<div class="card">
						<img class="category-image" src="assets/img/categories/species.jpg">
						<div class="card-body starwarsbACKGROUD">
							<h4 class="card-text starwarsText">Spacies</h4>
							<p class="card-text starwarsText">In a galaxy far far away...(not available)</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-4 box-shadow">
				<a routerLink="#">
					<div class="card">
						<img class="category-image" src="assets/img/categories/vehicles.jpg">
						<div class="card-body starwarsbACKGROUD">
							<h4 class="card-text starwarsText">Vehicles</h4>
							<p class="card-text starwarsText">In a galaxy far far away...(not available)</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-4 box-shadow">
				<a routerLink="#">
					<div class="card">
						<img class="category-image" src="assets/img/categories/planets.jpg">
						<div class="card-body starwarsbACKGROUD">
							<h4 class="card-text starwarsText">Planets</h4>
							<p class="card-text starwarsText">In a galaxy far far away...(not available)</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>