@import "~bootstrap/dist/css/bootstrap.css";


body {padding-top: 80px;}
.starwarsText{
    color: #FFE81F;
	text-align: center;
	font-style: italic;
}

.starwarsbACKGROUD {
    background-color:gray;
}

.card{
    margin-bottom: 30px;
}